/*eslint-disable*/
.container {
    display: flex;
    position: relative;
    justify-content: center;
  
}

.game-board {
    flex: 1;
    position: relative;
    height: 100vh;
    width: 100vh;
    background-image: url(images/road.png);
    background-position: center;
}
.timer {
    flex; 1;
    position: relative;
    height: 100px;
    width: 150px;
    opacity: 1;
    font-size: 24px;
    font-weight: 600;
    color: white;
    padding: 5px;
}

.enemy {
animation: move 4s infinite;

}

.enemy2 {
    animation: move 5s infinite;
}

@keyframes move {
    0% {top: -100px;}
    100%{top: 900px;}
}

